<div class="alert alert-info text-left">
    <h3>Argentina Programa 4-0 - Apunte de clase</h3>
</div>

## Esto es un título.

**Este es un texto en Negrita**
<br>
*Ejemplo de texto inclinado.*
<br>
***Puedo combinar texto en Negrita con texto inclinado***
<br><br>
Lista desordenada
* Opción 1
* Opción 2
* Opción 3
<br><br>
Lista ordenada
1. Ítem A
2. Ítem B
3. Ítem C

In [ ]:
# Esto es un comentario.
print('Hola Mundo')

#### Uso de variables

In [ ]:
# Las variables aceptan todo tipo de dato.
# Declarar una variable es crearla y asignarle un valor.

# Declaro un par de variables.
var1 = 56
var2 = 'Esto es un texto'
print(var1)

In [ ]:
print(var2)
var2 = 45
print(var2)

In [ ]:
# Le puedo asignar a una variable el contenido de otra variable
var3 = var2
print(var2)
print(var3+5)

In [ ]:
# Asignación de valores en línea

# Opción 1
valor1,valor2,valor3 = 12,'Mate',33

print(valor2)

In [ ]:
# Opción 2
valor1 = valor2 = valor3 = 'Hola mundo'
print(valor3)

### Función TYPE

In [ ]:
# Esta función me devuelve el tipo de dato con el que estoy trabajando
a = 12
b = 34.6
c = 'Buen día'

In [ ]:
print(type(a))
print(type(b))
print(type(c))

***Tipo de datos***
<br>
* Numéricos.
* Secuenciales
* Mapeo
* Colecciones
* Texto
* Booleanos

In [ ]:
# Arrastre de tipo de dato
a = 12.6
b = 2.4

print(type(a+b))

In [ ]:
# Complejos
d = 2+5j
print(d)
print(type(d))

In [ ]:
# métodos de un dato complejo
a = d.real
print('La parte entera del complejo es: ',a)

In [ ]:
b = d.imag
print('La parte imaginaria del complejo es: ',b)

### Conversión de tipo de datos

* int()
* float()
* complex()
* list()
* str()

In [ ]:
# ejemplo de conversión de tipo
a = 4
print(a)
print(type(a))

# Cambio el formato solo para la salida por pantalla
print(float(a))

# Puedo modificar el tipo directamente sobre la variable
a = float(a)

print(a)
print(type(a))

### Operadores

* Suma (+)
* Resta (-)
* Negativo (-)
* Multiplicación (*)
* Exponente (**)
* División (/)
* División entera (//)
* Resto de la división (%)
* Operador de asifgnación (=)

In [ ]:
# ejemplo de uso de operadores
# declaro mis variables
v1 = 15
v2 = 7

In [ ]:
# Suma
suma = v1 + v2
print(suma)

In [ ]:
# Resto de la división
a = 12
resto = a%2
print(resto)

In [ ]:
# Tarea: probar todos los operadores

***Operadores relacionales***

* Igual que (==)
* Distinto que (!=)
* Menor que (<)
* Mayor que (>)
* Menor o igual (<=)
* Mayor o igual (>=)

In [ ]:
# Igual que
a = 3
b = 4

print(a==b)

In [ ]:
# Distinto que
c = 'Rojo'
d = 'Rojo'

print(c!=d)

In [ ]:
# Menor
a = 12
f = 44
print(a<f)

***Operadores lógicos***

* and
* or
* NOT

In [ ]:
# Metodo Format
nombre = 'Guillermo'
curso = 'Java'
print("Bienvenido {1} a la clase de {0}".format(nombre,curso))

In [ ]:
# AND
a = 3
b = 10

print("AND es Verdadero si y solo si, ambas expresiones son verdaderas: {}".format(a==4 and b==10))

In [ ]:
# OR
print("OR es Verdadero si al menos una de las expresiones, es verdadera: {}".format(a==4 or b==1))

In [ ]:
# NOT
g = 2
print("NOT modifica el valor booleano de una expresión: {}".format(not g==2))

In [ ]:
# Ejemplo de uso de AND con tres expresiones
a = 3
b = 4
c = 5

print(a==3 and b==4 and c==54)

### Ingreso de datos por teclado

Para el ingreso de datos por teclado utilizamos la función INPUT

In [ ]:
# Pedimos ingresar un valor numérico
a = int(input('Por favor ingrese un valor numérico: '))
print("El valor ingresado por teclado es: {}".format(a))
print(type(a))

Ejercicio propuesto: Escribir un programa que solicite al usuario el valor del radio de un círculo y calcular la superficie. Mostrar el resultado por pantalla.

### Listas

In [ ]:
# Las listas me permiten almacenar diferentes tipos de datos bajo un mismo identificador
# Cada valor almacenado, se denomina elemento. Deben ir separados por una coma.
# Cada elemento está asociado a un índice. 

numeros = [1,2,3,4,5,6,7]
print(numeros)

print(type(numeros))

print(numeros[2])

In [ ]:
# Las listas pueden contener elementos de diferentes tipos
lista1 = [34,54,6.7,'Hola',56,[9,8,7]]
print(lista1)

In [ ]:
print(lista1[5][1])

***Función LEN***

In [ ]:
# Me permite conocer la longitud de un conjunto de elementos.
lista2 = [1,2,3,4,54,56,6]
a = len(lista2)
print('La lista tiene ',a,' elementos,')

In [ ]:
# Declaro una lista
lista = [1,2,3,4]

print("El rango de los índices va desde {}, hasta {}.".format(0,len(lista)-1))

In [ ]:
# Las cadenas de texto son indexadas
texto = 'Curso de Python'
print(texto[3])

#### Métodos de las listas

In [ ]:
# Método APPEND
# Permite agregar un elemento al final de la lista.

lista = [1,2,3,4,5,6]
print(lista)

lista.append('Guillermo')
print(lista)

In [ ]:
# Método COUNT
# Cuenta las veces que aparece un elemento dentro de una lista

lista = [1,1,1,2,3,4,5,6,77,7,7,7,7,7,7]
a = lista.count(7)
print(a)

In [ ]:
# Método INDEX
# Devuelve el índice que tiene un determinado elemento
# en caso de estar repetido, me devuelve el índice de la primer ocurrencia
print(lista.index(5))

In [ ]:
# Método INSERT
# Permite insertar un nuevo elemento en una determinada posición
numeros = [5,1,8,3]
print(numeros)

numeros.insert(0,'Hola')
print(numeros)

In [ ]:
# Método POP
lista = [1,2,3,4,5,6]
print(lista)

a = lista.pop()

print(lista)
print(a)

In [ ]:
# Método REMOVE
lista = [1,2,3,4,5,6,7,5]
print(lista)

lista.remove(5)
print(lista)

In [ ]:
# Método REVERSE
# Invierte el orden de los elementos de una lista
num = [1,2,3,4,5,6]
print(num)

num.reverse()
print(num)

In [ ]:
# Método SORT
# Ordena los elementos de una lista
lista = [23,6,0,12,33,8]
print(lista)

# Ordenamos con SORT de menor a mayor
lista.sort()
print(lista)

# Ordenamos de mayor a menor
lista.sort(reverse=True)
print(lista)

### Estructuras.

In [ ]:
# Condicional IF
a = 7
if a==7:
    print("La variable a es igual a 7")
    
print("Fin del ejemplo")

In [ ]:
# Estructura IF con ELSE
dia = 'lunes'

if dia == 'domingo':
    print('Descanso')
    print("La condición resultó Verdadera")
else:
    print('Trabajo')
    print("La condición resultó Falsa")
    
print('Fin del ejemplo')

In [ ]:
# Estructura IF / ELIF / ELSE
var = 33

if var<0:
    print("el valor de la variable es menor que cero.")
elif var>=0 and var<=10:
    print("El valor de la variable está entre 0 y 10")
else:
    print("El valor de la variable es mayor que 10")

***Evaluamos las variables***

In [ ]:
var = " "

if var:
    print("Verdadero")
else:
    print("Falso")

***Operadores de pertenencia***

In [ ]:
# IN / NOT IN
valor = 4
lista = [1,2,3,4,5,6]

if valor not in lista:
    print("Verdadero")
else:
    print("Falso")

Escribir un código que solicite por teclado un valor numérico entero y devuelva un mensaje indicando si el valor es PAR o IMPAR.

In [ ]:
numero = int(input("Ingrese un valor numérico entero: "))
resto = numero%2

if resto==0:
    print("El número es PAR")
else:
    print("El número es IMPAR")

***Estructura While***

In [ ]:
contador = 12

while contador<=5:
    print("Valor de mi contador: {}".format(contador))
    contador = contador + 1
    
print("Fin del ciclo While")
print("Valor del contador",contador)

In [ ]:
# Ejemplo de Do While en Python
contador = 0

while True:
    contador = contador + 1
    print("Valor del contador: {}".format(contador))
    if contador == 6:
        break
        
print("Fin del ciclo")

***Ejercicio en clase***

In [ ]:
notas = []
nota = 0

while nota != -1:
    nota=int(input("Ingrese nota de 1 a 10 o -1 para finalizar."))
    if nota==-1:
        break
    notas.append(nota)
    
print("Notas ingresadas: ",notas)
print("Suma de las notas ingresadas: {}".format(sum(notas)))
print("Promedio de las notas ingresadas: {}".format(sum(notas)/len(notas)))

***Estructura FOR***

In [ ]:
# Estructura de repetición
lista = [1,2,3,4,5,6]

for x in lista:
    print("El valor {} del iterador multiplicado por 10 es: {}".format(x,x*10))
    
print("Fin del ciclo")

In [ ]:
# Rangos usando FOR
for valor in range(1,6):
    print(valor)

In [ ]:
# Range con un argumento
for x in range(3):
    print(x)

In [ ]:
# Otro ejemplo de FOR
for x in range(1,11,2):
    print(x)

In [ ]:
# For invertido
for x in range(11,1,-1):
    print(x)

In [ ]:
lista = []
for x in range(1,11):
    x = x*2
    lista.append(x)
    
print(lista)

***Cadenas de caracteres***

In [ ]:
# mostrar comillas en mi texto
print("Esto recién 'empieza', ahora viene lo mejor")
print('Ya "falta" menos')

In [ ]:
# Caracter de escape
print("Este caracter de \"escape\" está en casi todos los lenguajes")

In [ ]:
texto = "Curso de Python"
print(texto[0])

In [ ]:
# Suma
a = "Curso"
b = "Python"
print("La suma entre {} y {} es: {}".format(a,b,a+b))

In [ ]:
# Multiplicar
print("Hola" * 3)

In [ ]:
# Join
print(' '.join([a,b]))

In [ ]:
# Strip
a = "    Curso Python % # $"
print(a)
print(a.strip())
print(a.strip('% # $'))

In [ ]:
# SPLIT
a = "Guillermo,Alfaro,Profesor"
#print(a.split(','))

b = a.split(',')
print(b)

In [ ]:
# UPPER - LOWER
a = "Hola"
b = "Mundo"

print("Todo a mayúsculas: {}".format(a.upper()))
print("Todo a minúsculas: {}".format(b.lower()))

In [ ]:
# SPLIT
a = "Guillermo|Alfaro|Profesor"
#print(a.split('|'))

b = a.split('|')
print(b)

### Manejo básico de fechas.

In [ ]:
from datetime import datetime

In [ ]:
fecha = datetime.now()
print(fecha)

In [ ]:
print(fecha.year)
print(fecha.month)
print(fecha.day)
print(fecha.hour)
print(fecha.minute)
print(fecha.second)
print(fecha.microsecond)

In [ ]:
print("{}/{}/{}".format(fecha.day,fecha.month,fecha.year))

### Funciones

In [ ]:
# Declaración de funciones.
def nombreFuncion():
    "Acá va todo el código de mi función"

In [ ]:
# ejemplo 1
def suma():
    a=12
    b=7
    print("La suma de {} y {} es: {}".format(a,b,a+b))
    # fin de mi función.

In [ ]:
suma()

In [ ]:
# Pasaje de parámetros
def suma(x,y):
    res=x+y
    print("Resultado de la suma: {}".format(res))

In [ ]:
suma(20,32)

In [ ]:
# Ejemplo
def mostrar(a,b):
    print("a= {} \nb = {}".format(a,b))

In [ ]:
mostrar(b="Curso",a="Python")

In [1]:
# 
def suma(a=0,b=0,control=False):
    if control:
        print("suma: ",a+b)
    else:
        print("suma: ",a+b)
        
suma()

suma:  0

In [4]:
# Ejemplo 1: si el tipo de dato es mutable, el pasaje es por referencia.
def usoLista(a):
    a[0]='b'
    
# Creo una lista
lista = [1,2,3]
print(lista)

# Invoco la función
usoLista(lista)

# Verifico como quedo la lista original
print(lista)

[1, 2, 3]
['b', 2, 3]

In [7]:
# Ejemplo 2: si el tipo de dato es nmutable, el pasaje es por valor
def usoVariable(b):
    b = b*3
    
#Declaro una variable
a = 20
print(a)

# Invoco la función.
usoVariable(a)
print(a)

20
20

In [12]:
# Argumentos de largo variable
# Ejemplo con *

def miFuncion(*valores):
    for x in valores:
        print(x*2)

In [13]:
miFuncion(1,2,6)

2
4
12

In [14]:
# Ejemplo con **
def miFuncion(**valores):
    print(valores)

In [16]:
miFuncion()

{}

In [17]:
# Combino ambos métodos
def cliente(nombre,apellido,**datos):
    print("Nombre: {}".format(nombre))
    print("Apellido: {}".format(apellido))
    for x in datos:
        print("{}: {}".format(x,datos[x]))

In [18]:
cliente("Guillermo","Alfaro",Edad=53,Pcia="Bs.As")
print()
cliente("Pedro","Gutierrez",Edad=45,DNI=123456)

Nombre: Guillermo
Apellido: Alfaro
Edad: 53
Pcia: Bs.As

Nombre: Pedro
Apellido: Gutierrez
Edad: 45
DNI: 123456

### Desempaquetado de argumentos.

In [24]:
def miFuncion(a=0,b=0,c=0):
    print(a,b,c)
    
lista = [4,5,6]
miFuncion(*lista)

4 5 6

In [23]:
diccionario = {'a':1,'c':3}
miFuncion(**diccionario)

1 0 3